//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 01 09:33:04 2016
//! **************************************************************************

SCHEMATIC START;
COMP "trigger_w" LOCATE = SITE "H17" LEVEL 1;
COMP "clk" LOCATE = SITE "U23" LEVEL 1;
COMP "start" LOCATE = SITE "A19" LEVEL 1;
COMP "rst" LOCATE = SITE "G26" LEVEL 1;
COMP "GPIO_LED_E" LOCATE = SITE "AE21" LEVEL 1;
COMP "GPIO_LED_N" LOCATE = SITE "AH27" LEVEL 1;
COMP "GPIO_LED_W" LOCATE = SITE "AD21" LEVEL 1;
COMP "trigger_e" LOCATE = SITE "G17" LEVEL 1;
COMPGRP pblock_i_black_box.SLICE = COMP "i_black_box/reset_dinamico_reg" COMP
        "i_black_box/activa_led_w" COMP "i_black_box/activa_dinamico_reg" COMP
        "i_black_box/i_dinamico_estado_w/Msub_GND_5_o_GND_5_o_sub_14_OUT<24:0>_cy[3]"
        COMP
        "i_black_box/i_dinamico_estado_w/Msub_GND_5_o_GND_5_o_sub_14_OUT<24:0>_cy[7]"
        COMP
        "i_black_box/i_dinamico_estado_w/Msub_GND_5_o_GND_5_o_sub_14_OUT<24:0>_cy[11]"
        COMP
        "i_black_box/i_dinamico_estado_w/Msub_GND_5_o_GND_5_o_sub_14_OUT<24:0>_cy[15]"
        COMP
        "i_black_box/i_dinamico_estado_w/Msub_GND_5_o_GND_5_o_sub_14_OUT<24:0>_cy[19]"
        COMP
        "i_black_box/i_dinamico_estado_w/Msub_GND_5_o_GND_5_o_sub_14_OUT<24:0>_cy[23]"
        COMP "i_black_box/i_dinamico_estado_w/reset_dinamico_0" COMP
        "i_black_box/i_dinamico_estado_w/csm_timer[3]" COMP
        "i_black_box/i_dinamico_estado_w/csm_timer[23]" COMP
        "i_black_box/i_dinamico_estado_w/csm_wait_combo_proc.csm_temp_timeout[24]"
        COMP "i_black_box/i_dinamico_estado_w/csm_timer[8]" COMP
        "i_black_box/activa_led_w_aux" COMP
        "i_black_box/i_dinamico_estado_w/csm_timer[13]" COMP
        "i_black_box/i_dinamico_estado_w/csm_timer[17]" COMP
        "i_black_box/estado_aux[1]" COMP
        "i_black_box/i_dinamico_estado_w/csm_timer[21]" COMP
        "i_black_box/estado[1]" COMP "i_black_box/estado(1)_PROXY" COMP
        "i_black_box/activa_led_e_PROXY" COMP "i_black_box/activa_led_w_PROXY"
        COMP "i_black_box/estado(0)_PROXY" COMP "i_black_box/reset_dinamico"
        COMP "i_black_box/activa_dinamico" COMP "i_black_box/rst";
COMPGRP "pblock_i_black_box.SLICE" LOCATE = SITE "SLICE_X112Y1:SLICE_X129Y18"
        LEVEL 4;
TIMEGRP clk = BEL "i_black_box/i_reg_reset_dinamico/q_aux" BEL
        "i_black_box/i_reg_activa_led/q_aux" BEL
        "i_black_box/i_reg_activa_dinamico/q_aux" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_0" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_1" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_2" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_3" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_22" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_24" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_23" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_4" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_5" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_7" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_8" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_10" BEL
        "i_black_box/i_dinamico_estado_w/current_state_FSM_FFd1" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_9" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_11" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_12" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_13" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_14" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_15" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_16" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_17" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_6" BEL
        "i_black_box/i_dinamico_estado_w/current_state_FSM_FFd2" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_18" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_19" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_20" BEL
        "i_black_box/i_dinamico_estado_w/csm_timer_21" BEL
        "i_black_box/i_reg_estado/q_aux_0" BEL
        "i_black_box/i_reg_estado/q_aux_1" BEL
        "i_FSM_estatico/current_state_FSM_FFd2" BEL
        "i_FSM_estatico/csm_timer_10" BEL "i_FSM_estatico/csm_timer_0" BEL
        "i_FSM_estatico/csm_timer_4" BEL "i_FSM_estatico/csm_timer_3" BEL
        "i_FSM_estatico/csm_timer_8" BEL "i_FSM_estatico/csm_timer_5" BEL
        "i_FSM_estatico/csm_timer_6" BEL "i_FSM_estatico/csm_timer_7" BEL
        "i_FSM_estatico/csm_timer_11" BEL "i_FSM_estatico/csm_timer_12" BEL
        "i_FSM_estatico/csm_timer_14" BEL "i_FSM_estatico/csm_timer_16" BEL
        "i_FSM_estatico/csm_timer_20" BEL "i_FSM_estatico/csm_timer_22" BEL
        "i_FSM_estatico/csm_timer_24" BEL "i_FSM_estatico/csm_timer_9" BEL
        "i_FSM_estatico/csm_timer_18" BEL "i_FSM_estatico/csm_timer_17" BEL
        "i_FSM_estatico/csm_timer_1" BEL "i_FSM_estatico/csm_timer_19" BEL
        "i_FSM_estatico/csm_timer_23" BEL "i_FSM_estatico/csm_timer_21" BEL
        "i_FSM_estatico/csm_timer_15" BEL "i_FSM_estatico/csm_timer_13" BEL
        "i_FSM_estatico/csm_timer_2" BEL "i_FSM_estatico/csm_timer_25" BEL
        "i_FSM_estatico/current_state_FSM_FFd1" BEL
        "i_divisor_frecuencia/contador_0" BEL
        "i_divisor_frecuencia/contador_1" BEL
        "i_divisor_frecuencia/clk_100mz_aux" BEL "i_reg_led_w/q_aux" BEL
        "i_reg_led_e/q_aux" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 5 ns HIGH 50%;
SCHEMATIC END;

